services:
  # Next.js Frontend
  nextapp:
    container_name: nextapp
    image: nextapp:1.0.0
    build:
      context: .
      dockerfile: client/next.dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env.docker
    depends_on:
      - flaskapp
    restart: always

  # Flask Backend
  flaskapp:
    container_name: flaskapp
    image: flaskapp:1.0.0
    build:
      context: ./server
      dockerfile: flask.dockerfile
    ports:
      - "4000:4000"
    env_file:
      - .env.docker
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
    depends_on:
      - db
    volumes:
      - ./server/uploads:/app/uploads
    restart: always

  # PostgreSQL Database
  db:
    container_name: db
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata:
